<div class="container">
  <div>
    <h2>Ajouter Fruit :</h2>
  </div>
  <form >
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label >ID Fruit</label>
      <input type="text" [(ngModel)]="newFruit.idFruit"
             name="idFruit" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" >
      <label >Nom Fruit</label>
      <input type="text"[(ngModel)]= "newFruit.nomFruit"
             name="nomFruit" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label >Prix Fruit</label>
      <input type="number" [(ngModel)]= "newFruit.prixFruit"
             name="prixFruit" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label >Poids fruit</label>
      <input type="number" [(ngModel)]= "newFruit.poidsFruit"
             name="poidsFruit" class="form-control">
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label >Date paiement</label>
      <input type="date" [(ngModel)]= "newFruit.datePaiement"
             name="datePaiement" class="form-control">
    </div>
    <div class="mt-2">
      <button type="submit" (click)="addFruit()" class="btn btn-success">Ajouter</button>
    </div>
  </form>
</div>
